@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fdb0c0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #c75b5b;
    border-radius: 100vh;
    border: 3px solid #fdb0c0;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #faa0b6;
  }
}

/* * {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 4px;
  margin: 6px;
} */
